#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

#events {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(120px, 1fr));           
}

.datum {
    font-size: 16pt;
    display: block;
    color: black;
}

.panel:hover {
  text-decoration: none;
}