.border-highlight{
    border: 1px solid var(--border-highlight) !important;
}

.dauer {
    float: right;
    border: 1px solid darkgrey;
}

.status {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18pt;
}
