.task {
    overflow: auto;
}

.ui-droppable-hover {
    background-color: lightgray;
}

.ui-draggable {
    cursor: move;
}

.ui-draggable-dragging {
    box-shadow: 0 0 10px #606060;
    z-index: 2;
}

#taskboard th {
    width: 25%;
}

#loadingModal.show {
    display: flex !important;
}