html, body {
    height: 100%;
}

.navbar {

}

.ui-droppable-hover {
    background-color: lightgray;
}

.ui-draggable {
    cursor: move;
}

.ui-draggable-dragging {
    box-shadow: darkgray 5px 5px 5px;
    z-index: 2;
}

#taskboard td {
    width: 25%;
}

#loadingModal.show {
    display: flex !important;
}

.login {
    position: relative;

    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: auto;
    max-height: 80%;

    background-color: #fffc;
    box-shadow: #0006 0 0 15px 11px;
}

.logins {
    margin-top: 20px;
    width: 100%;
    overflow: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
    grid-gap: 1em;
    justify-content: space-around;
}

.bg-img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;

    filter: brightness(60%);
}


