{% extends "base.html" %}
{% macro story_panel() %}
    <div class="panel">
        <div class="panel-body d-flex flex-column">
            <div class="panel-title d-flex justify-content-between align-items-start">
                <h4 class="story-titel"></h4>
                <button class="btn btn-light story-edit" type="button">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
            </div>
            <p class="card-text story-beschreibung"></p>
            <h6>Akzeptanzkriterien:</h6>
            <ul class="list-group kriterien mb-2">
            </ul>

            <a href="#" class="mt-auto story-link"></a>
        </div>
    </div>
{% endmacro %}
{% macro kriterium_dom() %}
    <div class="input-group mb-1">
        <input type="text" class="form-control kriterium-beschreibung" placeholder="Kriterium">
        <span class="input-group-btn">
        <button class="btn btn-dark kriterium-delete" type="button">X</button>
      </span>
    </div>
{% endmacro %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/backlog.css">
    <script>
        var container;
        var form;
        var data_input;
        var kriterien_div;
        var editing_story;

        class Kriterium {
            constructor(beschreibung, story) {
                this.story = story;
                this.beschreibung = beschreibung;
                this.dom = $(`{{ kriterium_dom() }}`);
                this.dom.find(".kriterium-delete").click(() => this.remove());

                this.input = this.dom.find(".kriterium-beschreibung");
                this.input.val(this.beschreibung);
            }

            remove() {
                var i = this.story.kriterien.indexOf(this);
                this.story.kriterien.splice(i, 1);

                this.dom.remove();
            }

            save() {
                this.beschreibung = this.input.val();
            }

            to_json() {
                return {
                    "beschreibung": this.beschreibung
                }
            }
        }

        class Story {
            constructor(id=-1, titel = "", beschreibung = "", kriterien = [], sprint_id) {
                this.id = id;
                this.to_delete = false;
                this.titel = titel;
                this.beschreibung = beschreibung;
                this.kriterien = kriterien;
                this.sprint_id = sprint_id || -1;

                this.dom = $(`{{ story_panel() }}`);
                this.dom.find(".story-edit").click(() => this.edit());

                var kriterien_container = this.dom.find(".kriterien");

                this.kriterien = this.kriterien.map(kriterium => {
                    var k = new Kriterium(kriterium.beschreibung, this);
                    kriterien_container.append(`<li class="list-group-item">${kriterium.beschreibung}</li>`);
                    return k;
                });
                this.show();
                container.append(this.dom);
            }

            show() {
                this.dom.find(".story-titel").html(this.titel);
                this.dom.find(".story-beschreibung").html(this.beschreibung);
                var link = this.dom.find(".story-link");
                if(this.sprint_id !== -1) {
                    link.attr("href", "/sprints/" + this.sprint_id);
                    link.html("Zu Sprint " + this.sprint_id);
                }else{
                    link.attr("href", "");
                    link.html("Nicht zugewiesen");
                }

            }

            edit() {
                editing_story = this;
                $("#editTitleInput").val(this.titel);
                $("#editBeschreibungTextarea").val(this.beschreibung);
                $("#editSprint").val(this.sprint_id);

                kriterien_div.html("");
                this.kriterien.map(kriterium => kriterien_div.append(kriterium.dom));

                $("#bearbeitenModal").modal({backdrop: 'static', keyboard: false});
            }

            add_kriterium() {
                var kriterium = new Kriterium("", this);
                kriterien_div.append(kriterium.dom);
                this.kriterien.push(kriterium);
            }

            save() {
                this.titel = $("#editTitleInput").val();
                this.beschreibung = $("#editBeschreibungTextarea").val();
                this.kriterien.map(kriterium => kriterium.save());
                this.sprint_id = $("#editSprint").val();
                this.submit();
            }

            remove() {
                this.to_delete = true;
                this.submit();
            }

            submit() {
                data_input.val(JSON.stringify(this.to_json()));
                form.submit();
            }

            to_json() {
                return {
                    "id": this.id,
                    "to_delete": this.to_delete,
                    "titel": this.titel,
                    "sprint_id": this.sprint_id,
                    "beschreibung": this.beschreibung,
                    "kriterien": this.kriterien.map(kriterium => kriterium.to_json())
                }
            }
        }

        $(() => {
            // "Laden..." anzeigen
            modal = $("#loadingModal").modal();
            container = $("#container");
            kriterien_div = $("#edit-kriterien");
            form = $("#form");
            data_input = form.children().first();

            $("#add-kriterium").click(() => editing_story.add_kriterium());
            $("#bearbeitenModalSave").click(() => editing_story.save());
            $("#bearbeitenModalDelete").click(() => editing_story.remove());
            $("#addButton").click(() => {
                var story = new Story(-1, "Neue Story", "", [], -1);
                story.edit();
            });

            $.getJSON("/api/stories").done(data => {
                var story;

                for (var s of data) {
                    story = new Story(s.id, s.titel, s.beschreibung, s.kriterien, s.sprint_id);
                }
            });
            modal.modal("hide");
        });
    </script>
{% endblock %}
{% block body %}
    <form method="post" id="form">
        <input type="hidden" name="data">
    </form>
    <div class="container my-3" id="container">
    </div>
    <div class="text-center">{{ forms.add_button(size=3) }}</div>

    {% call forms.modal("bearbeiten", "Story bearbeiten", [["delete", False], ["save", False]]) %}
        {{ forms.input("editTitle", "Titel", "Titel") }}
        {{ forms.textarea("editBeschreibung", "Beschreibung") }}
        <div class="form-group">
            <label for="editSprint">Sprint</label>
            <select class="form-control" id="editSprint">
                <option value="-1">Kein Sprint</option>
                {% for sprint in sprints %}
                    <option value="{{ sprint.id }}">
                        {{ sprint.id }} ({{ sprint.start }} bis {{ sprint.ende }})
                    </option>
                {% endfor %}
            </select>
        </div>
        <h6>Akzeptanzkriterien</h6>
        <div id="edit-kriterien" class="mb-1"></div>
        <button type="submit" class="btn btn-light d-block m-auto p-2" id="add-kriterium">
            <i class="fa fa-plus d-block" aria-hidden="true"></i>
        </button>
    {% endcall %}
    {{ forms.loadingModal() }}
{% endblock %}