{% macro link(url, text) %}
    <li class="nav-item">
        <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">
            {{ text }}
        </a>
    </li>
{% endmacro %}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>Scrum Manager</title>

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/theme.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/ui.css">
        <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">

        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery-ui.min.js"></script>

        <link rel="shortcut icon" type="image/png" href="/static/img/scrum-logo.png">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">
        <img src="/static/img/logo-quadratisch.png" width="30" height="30" class="d-inline-block align-top">
        Scrum Manager
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{ link("/", "Dashboard") }}
            {{ link("/backlog", "Backlog") }}
            {{ link("/sprints", "Sprints") }}
            {{ link("/impediment", "Impediments") }}
            {{ link("/users", "Users") }}
        </ul>
        <ul class="navbar-nav">
            {{ link("/logout", "Logout " + current_user.name) }}
        </ul>
    </div>
</nav>
{% block body %}{% endblock %}
</body>
</html>
