<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scrum Manager</title>

    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="shortcut icon" type="image/png" href="/static/img/logo.png">

</head>
<body>
<img class="bg-img" src="/static/img/loginBG.jpg">

<div class="login w-50 p-3 d-flex rounded justify-content-center align-items-center flex-column">
    <span class="title text-muted">Anmeldung</span>
    <hr class="w-100">
    <img src="/static/img/logo.png" class="w-25 mb-3">

    <div class="logins mt-1">
        {% for user in users %}
            <div class="card">
                <div class="card-body border border-dark bg-secondary text-white rounded">
                    <h4 class="card-title text-center">{{ user.name }}</h4>
                    <h6 class="card-subtitle mb-3 rolle text-center">{{ user.rolle }}</h6>
                    <a href="/login/{{ user.id }}?next={{ next }}" class="btn btn-light w-100">Login</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>