{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/meetings.css">
    <link rel="stylesheet" href="/static/css/fullcalendar.min.css">

    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/fullcalendar.min.js"></script>
    <script src="/static/js/fullcalendar.de.js"></script>
    <script>
        var events = [];
        $(() => {
            // "Laden..." anzeigen
            container = $("#meetings");
            //$("#add-kriterium").click(() => editing_story.add_kriterium());

            $.getJSON("/api/meetings").done(data => {

                for (var event of data) {
                    events.push({
                        id: event.id,
                        title: event.typ,
                        start: event.iso_datum
                    });
                }
                $("#loading").remove();
                console.log(events);

                // page is now ready, initialize the calendar...
                $('#calendar').fullCalendar({
                    events: events,
                    firstDay: 1,
                    eventClick: function (calEvent, jsEvent, view) {
                        window.location.href = "/meetings/" + calEvent.id;
                    }
                })
            });
        });
    </script>
{% endblock %}
{% block body %}
    <div class="container mt-3" id="container">

        <div class="panel">
            <div class="panel-body">
                <div id="calendar"></div>
            </div>
        </div>

        <div class="panel" id="meetings">
            <div class="panel-head">
                <h3>Meetings</h3>
            </div>
            <div class="panel-body">
                {% for meeting in meetings %}
                    <div class="panel mb-3">
                        <div class="panel-body">
                            <div class="panel-titel mb-0 d-flex justify-content-between">
                                <a href="/meetings/{{ meeting.id }}"><h4>{{ meeting.datum }}</h4></a>
                                <button class="float-right btn btn-light edit-story" type="button">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </div>
                            <span class="text-muted">{{ meeting.typ }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="panel-footer">
                <div class="text-center" id="loading">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                    <div class="text-muted text-center">Lädt...</div>
                </div>

                <button type="submit" class="btn btn-light d-block m-auto p-3">
                    <i class="fa fa-plus d-block" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
{% endblock %}