{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/sprints.css">
{% endblock %}
{% block body %}
    <div class="container mt-3 ">
        <div class="panel">
            <div class="panel-body">
                <div class="panel-titel d-flex justify-content-between align-items-start">
                    <div>
                        <h4>Meeting {{ meeting.datum }}</h4>
                        <div class="text-muted">{{ meeting.typ }}</div>
                    </div>
                    <button class="btn btn-light" id="title" type="button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </div>

                <table class="table table-bordered table-sm">
                    <tr>
                        <th>User</th>
                        <th>Gemacht/Gut</th>
                        <th>Zu tun/Schlecht</th>
                        <th>Verbesserungen</th>
                        <th></th>
                    </tr>
                    {% for antwort in meeting.antworten %}
                        <tr>
                            <td>{{ antwort.user.name }}</td>
                            <td>{{ antwort.antwort1 }}</td>
                            <td>{{ antwort.antwort2 }}</td>
                            <td>{{ antwort.antwort3 }}</td>
                            <td class="text-center">{{ forms.edit_button() }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="text-center">
                            {{ forms.add_button("add") }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    {% call forms.modal("bearbeiten", "Antwortbearbeitung", [["Löschen", False], ["save", False]], True) %}
        <form method="post" id="form">
            <input type="hidden" class="form-control" id="idInput" name="id">
            <input type="hidden" class="form-control" id="deleteInput" name="delete" value="">
            <div class="form-group mb-0">
                <label for="rolleSelect">User</label>
                <select class="form-control" id="rolleSelect" name="rolle">
                    <option value="owner">John Doe</option>
                    <option value="master">John Foe</option>
                    <option value="team">John Goe</option>
                </select>
            </div>
        </form>
    {% endcall %}
{% endblock %}