{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/meetings.css">
    <link rel="stylesheet" href="/static/css/fullcalendar.min.css">
    <style>
        a:hover {
            text-decoration-line: none;
        }
    </style>

    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/fullcalendar.min.js"></script>
    <script src="/static/js/fullcalendar.de.js"></script>
    <script>
        var events = [];
        $(() => {
            container = $("#meetings");

            $.getJSON("/api/meetings").done(data => {

                for (var event of data) {
                    events.push({
                        id: event.id,
                        title: event.typ,
                        start: event.iso_datum
                    });
                }
                $("#loading").remove();
                $("#meeting-list").removeClass("hide");

                // page is now ready, initialize the calendar...
                $('#calendar').fullCalendar({
                    events: events,
                    firstDay: 1,
                    eventClick: function (calEvent, jsEvent, view) {
                        window.location.href = "/meetings/" + calEvent.id;
                    }
                })
            });
        });
    </script>
{% endblock %}
{% block body %}
    <div class="container my-3" id="container">
        <div class="panel">
            <div class="panel-body">
                <div id="calendar"></div>
            </div>
        </div>

        <div class="panel" id="meetings">
            <div class="panel-head">
                <h3>Meetings</h3>
            </div>
            <div class="panel-body pb-0">
                <div class="hide" id="meeting-list">
                    {% for meeting in meetings %}
                        <a href="/meetings/{{ meeting.id }}">
                            <div class="panel mb-3">
                                <div class="panel-body">
                                    <div class="panel-titel mb-0">
                                        <h4>{{ meeting.datum }}</h4>
                                    </div>
                                    <span class="text-muted">{{ meeting.typ | title }}</span>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="text-center" id="loading">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                <div class="text-muted text-center">Lädt...</div>
            </div>

            <div class="panel-footer text-center">
                <a href="/meetings/neu" class="btn btn-light p-2">
                    <i class="fa fa-plus d-block" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}