{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/sprint.css">

    <script src="/static/js/sprint.js"></script>
    <script>
        init({{ sprint.id }})
    </script>
{% endblock %}

{% block body %}
    <div class="container my-3 p-3 bg-white">
        <form method="post" id="sprint-form">
            <div class="row mb-2">
                <h3 class="col-10">Sprint 1</h3>
                <div class="col">
                    <input type="hidden" id="data-input" name="data">
                    <button class="btn btn-primary col" id="speichern">Speichern</button>
                </div>
            </div>

            <div class="form-group row">
                <label for="start" class="col-2 col-form-label">Start</label>
                <div class="col-10">
                    <input class="form-control date-input" id="start" type="text" name="start"
                           value="{{ sprint.start }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="ende" class="col-2 col-form-label">Ende</label>
                <div class="col-10">
                    <input class="form-control date-input" id="ende" type="text" name="ende"
                           value="{{ sprint.ende }}">
                </div>
            </div>
        </form>

        <table class="table table-bordered mt-4 mb-0 table-sm" id="taskboard">
            <thead>
            <tr>
                <th class="text-center">User Story</th>
                <th class="text-center">Backlog</th>
                <th class="text-center">In bearbeitung</th>
                <th class="text-center">Fertig</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">
                    <button class="btn btn-light" id="story-create" type="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </td>
                <td colspan="3" class="text-center">
                    <button class="btn btn-light" id="task-create" type="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        {% call forms.modal("editStory", "User Story bearbeiten", [["delete", True], ["save", True]]) %}
            {{ forms.input("storyTitle", "Titel", "Titel") }}
            {{ forms.textarea("storyBeschreibung", "Beschreibung") }}
        {% endcall %}

        {% call forms.modal("editTask", "Task bearbeiten", [["delete", True], ["save", True]]) %}
            {{ forms.input("taskName", "Beschreibung", "Beschreibung") }}
            <div class="form-group">
                <label for="taskUserSelect">User</label>
                <select class="form-control" id="taskUserSelect">
                    <option value="-1">Nicht zugewiesen</option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.name }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endcall %}
        {{ forms.loadingModal() }}
    </div>
{% endblock %}