{% extends "base.html" %}
{% block body %}
    <div class="container mt-3">
        <div class="card-group">

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Sprint 1</h4>
                        <p class="card-text">
                            Start: 1.1.2000<br>
                            Ende: 2.1.2000
                        </p>
                        <a href="/sprints/1" class="btn btn-primary">Details</a>
                    </div>
                </div>

        </div>
    </div>
{% endblock %}
