{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/sprints.css">
{% endblock %}
{% block body %}
    <div class="container mt-3">
        {% for sprint in sprints %}
            <div class="panel p-3 mb-3 {% if sprint.aktiv %}border border-info{% endif %}">
                <span class="dauer p-2 rounded">{{ sprint.status_desc() }}</span>
                <h4 class="panel-titel">Sprint {{ sprint.id }}</h4>

                <p>
                    Start: {{ sprint.start }}<br>
                    Ende: {{ sprint.ende }}
                </p>
                <a href="/sprints/{{ sprint.id }}" class="btn btn-primary">Details</a>
                <div class="status mt-3 p-2">
                <span>
                    <i class="fa fa-list text-danger" aria-hidden="true"></i> {{ sprint.anzahl_status(0) }}
                </span>
                    <span>
                    <i class="fa fa-cogs text-warning" aria-hidden="true"></i> {{ sprint.anzahl_status(1) }}
                </span>
                    <span>
                    <i class="fa fa-check text-success" aria-hidden="true"></i> {{ sprint.anzahl_status(2) }}
                </span>
                </div>
            </div>
        {% endfor %}

        <form method="post">
            <input type="hidden" name="neu" value="1">
            <button type="submit" class="btn btn-light d-block m-auto p-3">
                <i class="fa fa-plus d-block" aria-hidden="true"></i>
            </button>
        </form>
    </div>
{% endblock %}
